{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags wagtailimages_tags%} 
{% block body_class %}template-homepage{% endblock %}

<!-- replace everything below with: -->

{% block content %} 
{% for block in page.hero %} 
<section id={{block.value.anchor}} class="flex flex-col relative">
    {% image block.value.image scale-50 class="bg-emerald-500 w-full object-cover"%}
    <h2 class="absolute text-amber-100 text-9xl">{{block.value.headline}}</h2>
</section>
{% endfor %} 

{% for block in page.problem %}
<section id={{block.value.anchor}} class="bg-amber-200 flex relative px-40 py-20 gap-12">

    {% if page.problem_card %}
    <div class="flex flex-col justify-center gap-4 w-4/6 -translate-y-8">
    {% else %}
    <div class="flex flex-col justify-center gap-4 ">
    {% endif %}

        <span class="badge badge-md">{{block.value.tag}}</span>
        <h2 class="text-5xl text-mist-900">{{block.value.heading}}</h2>
        <h3 class="text-2xl text-mist-700">{{block.value.paragraph}}</h3>
    </div>

{% if page.problem_card %}
<div class="flex flex-col items-center justify-center  w-2/6 gap-1">
{% for block in page.problem_card  %}
    
    {% if forloop.counter0 == 0 %}
    <div class="card w-96 bg-base-100 shadow-sm -rotate-3">
    {% elif forloop.counter0 == 1 %}
    <div class="card w-96 bg-base-100 shadow-sm rotate-2 translate-x-6">
    {% else %}
    <div class="card w-96 bg-base-100 shadow-sm -rotate-2 ">
    {% endif %} 
    <div class="card-body">
    {% image block.value.icon fill-35x35 format-webp preserve-svg %}
    <div class="flex flex-col justify-between">
    <h2 class="text-3xl font-bold">{{block.value.heading}}</h2>
    <p>{{block.value.paragraph}}</p>
    </div>
    </div>
    </div>

{% endfor %}
</div>
{% endif %}
{% endfor %}

</section>

<section></section>
<section></section>
<section></section>
<section></section>
<section></section>

{% endblock %}

