{% load static wagtailcore_tags navigation_tags %}
{% get_site_root as site_root %}

<nav>
    <div class="flex flex-row justify-between items-center m-2" >

        <div class="">
            <a class="" href="{% pageurl site_root %}">
                <img src="{% static 'img/Jano_Creations_Logo.svg' %}" class="h-8 mx-4"></img>
            </a>
        </div>

        {% for menuitem in site_root.get_children.live.in_menu %}
        <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
        <li>
            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
        </li>
        </ul>
        </div>  
        {% endfor %}
        {%get_nav_links%}
    </div>
</nav>