{% load static %}
<nav>
    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="" href="">
                <img src="{% static 'img/Jano_Creations_Logo.svg' %}" class="h-8 mx-4"></img>
                
            </a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
            <li><a href="">blog</a></li>
            <li>
                <details>
                <summary>Parent</summary>
                <ul class="bg-base-100 rounded-t-none p-2">
                    <li><a>Link 1</a></li>
                    <li><a>Link 2</a></li>
                </ul>
                </details>
            </li>
            </ul>
        </div>
    </div>
</nav>